/* reset */
* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;

}
h1,h2,h3,h4.h5,h6 {
    font-weight: 300px;
}
img {
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
}
body.img01 {
    background: url(../img/effect_bg_01@2x.jpg) no-repeat center / cover
}
body.img02 {
    background: url(../img/effect_bg_02@2x.jpg) no-repeat center / cover
}
body.img03 {
    background: url(../img/effect_bg_03@2x.jpg) no-repeat center / cover
}
body.img04 {
    background: url(../img/effect_bg_04@2x.jpg) no-repeat center / cover
}
body.img05 {
    background: url(../img/effect_bg_05@2x.jpg) no-repeat center / cover
}
body.img06 {
    background: url(../img/effect_bg_06@2x.jpg) no-repeat center / cover
}
body.img07 {
    background: url(../img/effect_bg_07@2x.jpg) no-repeat center / cover
}
body.img08 {
    background: url(../img/effect_bg_08@2x.jpg) no-repeat center / cover
}
body::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.373);
    position: absolute;
    left: 0;
    top: 0;
    display: none;

}
#header {
    padding: 20px;
    color: #fff;
}
#header h1 {
    font-weight: 300;
    border-bottom: 1px dashed #fff;
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 10px;
}
#header p {
    margin-bottom: 10px;
}
#header li {
    display: inline-block;
}
#header li a {
    border: 1px dashed #fff;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 30%;
    display: inline-block;
    text-align: center;
}
.modal__wrap .modal__btn {
    border: 1px dashed #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    transition: all 0.5s ease;
}
.modal__wrap .modal__btn:hover {
    background-color: #f5f5;
    color: #fff;
}
.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(204, 204, 204, 0.518);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.modal__cont .modal__box {
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 10px;
}
.modal__box .title {
    height: 50px;
    background: #f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}
.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}
.modal__box .title .dot:after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #00ff00;
    border-radius: 50%;
    position: absolute;
    left: 30px;
}
.modal__box .title .dot:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #0000ff;
    border-radius: 50%;
    position: absolute;
    left: 60px;
}
.modal__box .title .tabs {
    display: flex;
    margin-left: 60px;
}
.modal__box .title .tabs em {
    margin: 0 5px;
    font-style: normal;
}
.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}
.modal__box .title .tabs > div.active {
    background-color: #fff;
}
.modal__box .title .tabs > div{
    border: 1px solid #fff;
    margin: 10px 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}
.modal__box .title .plus {
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    margin-right: 20px;
}
.modal__box .cont {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.modal__box .cont > div{ 
    display: none;
}
.modal__box .cont > div.active {
    display: block;
    height: 100%;
}
.modal__cont .modal__close {
    border: 1px solid rgb(76, 0, 255);
    padding: 0.6rem 0.8rem;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fff;
    transition: all 0.5s ease-in;
    opacity: 0;
}
.modal__cont .modal__close:hover {
    background-color: rgb(76, 0, 255);
}

/* 애니메이션 */
.modal__cont.show {
    animation: foldOut 1s ease forwards;
}



@keyframes foldOut {
    0% {transform: scaleX(0) scaleY(0.001);}
    50% {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(1) scaleY(1);}
}
