/* reset */
* {
    margin:0;
    padding: 0%
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display:block;
    clear:both
}

/* layout */
#wrap {
    width: 1000px;
    margin: 0 auto;
    height: 1000px;
    background: #333;
}
#aside{
    w100
}
#contents{}
#footer{}