
.login__popup .login__wrap {
  width: 550px;
  height: 497px;
  margin: 0 auto;
  background: #fff;
}

.login__contents {
  width: 550px;
  height: 497px;
}

.login__contents .login__box h2 {
  padding-top: 100px;
  text-align: center;
  margin: 30px 0 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #555555;
}

.login__contents .login__box h2 em {
  color: #388FC0;
}

.login__contents .login__box span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-bottom: 12px;
  color: #888888;
}

.login__contents .login__box .input__header {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 22px;
  color: #777777;
}

.login__box div {
  padding: 0 81px;
}

.login__box .login__header h2 {
  margin-bottom: 20px;
}

.login__box .login__desc {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  display: inline-block;
  padding: 0 100px;
  color: #888888;
}

.login__box .input__title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #888888;
  margin-bottom: 6px;

}

.login__box .input__style1 {
  width: 388px;
  height: 45px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.login__box .input__style2 {
  width: 388px;
  height: 45px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.login__box .join__info {
  display: flex;
  justify-content: space-between
}

.login__box .join__info .join__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  display: inline-block;
  text-align: right;
  color: #195EB1;
  margin-bottom: 10px;
  padding-left: 10px;
}

.login__box .input__button {
  width: 388px;
  height: 45px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  background: linear-gradient(180deg, #388FC0 0%, #195EB1 100%);
  color: #fff;
  border-radius: 10px;
  margin: 0 81px 10px 81px;
}

.login__box .join__button {
  width: 388px;
  height: 45px;
  display: block;
  background: #fff;
  color: #3F72AF;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  border: 1px solid #777777;
  border-radius: 10px;
  margin: 0 81px;
}

.join__info input {
  margin-right: 5 px;
}

.login__box > p {
  Font-size: 12px;
  Line-height: 140%;
  color: #195EB1;
}

.login__box a {
  display: block;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  padding-right: 81px;
  margin-bottom: 10px;
  color: #195EB1;
}


label {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* 노트북 */
@media (max-width: 1220px) {
 
  
}
/* 태블릿 */
@media (max-width: 748px) {

}
/* 모바일 */
@media (max-width: 480px) {
  .login__contents .login__box h2 {
    padding-right: 81px;
  }
  .login__box .login__desc {
    width: 275px;
    display: inline-block;
    padding: 0 79px;
  }

  .login__contents .login__box span {
    width: 275px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: right;
    margin-bottom: 12px;
    color: #888888;
  }

  .login__box .input__style1 {
    width: 275px;
  }
  .login__box .input__style2 {
    width: 275px;
  }
  .login__box a {
    text-align: left;
    padding-left: 81px;
  }

  .login__box .input__button {
    width: 50%;
  }
  
  .login__box .join__button {
    width: 50%;
   
  }
}