#headerType {}
.header__wrap {}
.header__inner {
    text-align: center;
}
.header__inner .header__logo {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}
.header__inner .header__menu {
    width: 100%;
}
.header__inner .header__menu li {
    display: inline-block;
    padding: 10px 40px;
}
.header__inner .header__menu li.active a {
    border-bottom: 1px solid #000;
}